<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
      <rosparam>
         controller_frequency: 2.0
         base_global_planner: navfn/NavfnROS
         base_local_planner: dwa_local_planner/DWAPlannerROS
      </rosparam>
    <rosparam file="$(find robot_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robot_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robot_nav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_nav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_nav)/config/dwa_planner.yaml" command="load" />
  </node>
  
</launch>
