<launch>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_nav)/maps/corridor_3.yaml" />

  <include file="$(find robot_nav)/launch/amcl_omni.launch" />
  <include file="$(find robot_nav)/launch/move_base.launch" />

  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_nav)/rviz/nav.rviz" /-->

</launch>
