<launch>

  <include file="$(find robot_nav)/launch/amcl_omni.launch" />
  <include file="$(find robot_nav)/launch/move_base3.launch" />

  <node pkg="map_store" type="map_saver" name="map_saver" output="screen"/>
  <node pkg="map_store" type="map_manager" name="map_mananger" output="screen"/>
  <node pkg="robot_map" type="load_map.py" name="map_loader" args=""/>

</launch>
