<launch>
  <node pkg="tf" type="static_transform_publisher" name="broadcaster1" args="0 0 0 0 0 0 base_footprint base_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="broadcaster2" args="0 0 0 0 0 0 base_link laser 100" />

  <include file="$(find robot_teleop_joy)/launch/xbox360_teleop.launch" >
    <arg name="translation" value="0.2"/>
    <arg name="rotation" value="1.0"/>
    <arg name="joy_dev" value="/dev/input/js0"/>
  </include>

  <!-- Start Benewake LIDAR /-->
  <!-- include file="$(find serial_parse_publish)/launch/serial_parse_publish.launch" >
  </include/-->

  <!-- Start RPlidar /-->
  <node name="rplidarNode"  pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB1"/>
    <param name="serial_baudrate"     type="int"    value="115200"/>
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

  <!-- Start Hokuyo_LX20/-->
  <!-- node name="hokuyo_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="ip_address" type="string" value="192.168.0.10"/>
    <param name="ip_port" type="int" value="10940"/>
    <param name="intensity" type="bool" value="false"/>
    <param name="min_ang" value="-2.2689"/>
    <param name="max_ang" value="2.2689"/>
  </node/-->

  <!-- include file="$(find sick_tim)/launch/sick_tim551_2050001.launch">
  </include/-->

  <node pkg="robot_chassis" name="chassis" type="robot_chassis" output="screen">
    <param name="serial_port"   type="string" value="/dev/ttyUSB0"/>
  </node>

  <node pkg="robot_odom" name="odom_pub" type="odom_publisher"  output="screen">
    <param name="robot_radius" value="0.105" type="double"/>
  </node>

  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
    <remap from="imu_data" to="imu/data"/>
    <param name="freq" value="10.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="publish_tf" value="true"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="false"/>
    <param name="vo_used" value="false"/>
    <param name="output_frame" value="odom"/>
    <param name="base_footprint_frame" value="base_footprint"/>
  </node>

</launch>
