local_costmap:

   global_frame: /map #odom
   robot_base_frame: /base_link

   update_frequency: 3.0 #2.0
   publish_frequency: 1.0
   static_map: false
   rolling_window: true
   width: 4.0
   height: 4.0
   resolution: 0.05
   transform_tolerance: 1 #0.5
   plugins:
    - {name: obstacle_layer,      type: "costmap_2d::VoxelLayer"}
    - {name: inflation_layer,     type: "costmap_2d::InflationLayer"}
