<launch>
  <arg name="translation" default="0.2"/>
  <arg name="rotation" default="1.0"/>
  <node pkg="robot_teleop_key" type="robot_teleop_key" name="teleop_keyboard"  output="screen">
    <param name="translate" value="$(arg translation)"/>
    <param name="rotate" value="$(arg rotation)"/>
  </node>
</launch>
